/* General */

body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  height: 2000px; /* Erhöhte Höhe für Scrollen */
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: rgb(144, 178, 183);
}

.mode-switcher {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

body.day-mode {
  background-color: white;
  color: black;
}

/* Song pages */

.chords-and-lyrics {
  margin-left: 20px;
  font-weight: bold;
  opacity: 0.4;
  padding: 4px;
  margin: 4px;
}

a {
  color: rgb(144, 178, 183);
  text-decoration: none;
}

.controls {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001;
  display: inline-block;
  margin: 12px;
}

body.day-mode .controls {
  background-color: rgba(255, 255, 255, 0.5);
}

body.day-mode button {
  background-color: black;
  color: white;
}

.text-container {
  max-width: fit-content;
  margin: 0 auto;
  padding: 96px 0;
}

.chords {
  color: rgb(144, 178, 183);
  opacity: 0.4;
}

.home-button-container {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.home-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

body.day-mode .home-button {
  background-color: black;
  color: white;
}

.hint {
  font-size: 12px;
  color: rgb(144, 178, 183);
  opacity: 0.4;
  margin-top: 10px;
  display: block; /* Ensure hint is displayed as a block element */
  width: 100%; /* Take up full width */
}

.hint a {
  text-decoration: underline;
}

@media (min-width: 600px) {
  .chord-images {
    width: 100%;
  }
}

/* Start page */

.song-list {
  max-width: fit-content;
  margin: 96px auto;
  text-align: center;
}

.song-list ul {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  margin: 10px 0;
}

.song-list a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

body.day-mode .song-list a {
  color: black;
}

.logo {
  display: block;
  margin: 48px auto;
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 24px;
}

body.day-mode .logo {
  filter: invert(1);
}

/* Chord images */

.chord-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  gap: 10px;
  margin: 40px 0;
}

.chord,
.chord-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 4px 0;
  padding: 10px;
  border: 1px solid rgb(144, 178, 183, 0.5);
  border-radius: 5px;
}

.chord img {
  width: 60px;
  height: auto;
  margin-bottom: 4px;
  filter: invert(1);
}

body.day-mode .chord img {
  filter: invert(0);
}

.chord-text span {
  font-weight: bold;
  margin-bottom: 5px;
}

.chord-text pre {
  font-family: monospace;
  margin: 0;
}

/* Sharing functionality */

.share-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
  opacity: 0.4;
}

.song-url {
  font-size: 12px;
  color: rgb(144, 178, 183);
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(144, 178, 183);
  border-radius: 5px;
  padding: 5px;
  width: 250px;
  cursor: pointer;
}

body.day-mode .song-url {
  color: rgb(144, 178, 183);
  background-color: white;
  border: 1px solid rgb(144, 178, 183);
}

.share-button {
  background-color: rgb(144, 178, 183);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
}

.share-button:hover {
  background-color: #333;
}

body.day-mode .share-button {
  background-color: rgb(144, 178, 183);
  color: white;
}

body.day-mode .share-button:hover {
  background-color: #555;
}

@media (max-width: 600px) {
  .song-url {
    width: 100%;
  }
}
